In [8]:
import pandas as pd
from datetime import datetime

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    'this is a text',
    'this is another text',
    'this is also a text'
]

index = [
    'doc1',
    'doc2',
    'doc3'
]

In [18]:
# vect = CountVectorizer(
vect = TfidfVectorizer(
    max_features = 4,
    ngram_range = (1, 1)
)

vect_X = vect.fit_transform(corpus)
features = vect.get_feature_names_out()
df = pd.DataFrame(
    data = vect_X.toarray(),
    index = index,
    columns = features
)

df

         also        is      text      this
doc1  0.00000  0.577350  0.577350  0.577350
doc2  0.00000  0.577350  0.577350  0.577350
doc3  0.69903  0.412859  0.412859  0.412859

In [19]:
# vect = CountVectorizer(
vect = TfidfVectorizer(
    max_features = 2,
    ngram_range = (1, 1)
)

vect_X = vect.fit_transform(corpus)
features = vect.get_feature_names_out()
df = pd.DataFrame(
    data = vect_X.toarray(),
    index = index,
    columns = features
)

df

            is      text
doc1  0.707107  0.707107
doc2  0.707107  0.707107
doc3  0.707107  0.707107